@media(min-width: 1000px) {
  .main-visual p {
    bottom: 100px;
    left: 50px;
    font-weight: 600;
    font-size: 50px;
    color: white;
  }
}

@media(max-width: 500px) {

  header {
    height: 50px;

  }
  .header-logo {
    padding-left: 15px;
    line-height: 50px;
    font-size: 14px;
  }

  .header-list {
    display: none;
  }

  .fa.menu-icon {
    display: block;
    color: white;
    float: right;
    font-size: 24px;
    /* padding: 21px 0; */
    line-height: 50px;
    margin-right: 15px;
  }
  main {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .main-visual {
    margin-top: 50px;
    height: 400px;
  }
  .main-visual p {
    bottom: 50px;
    left: 25px;
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
  .main-visual-frame1 {
    height: 20%;
  }

  .main-visual-frame2 {
    height: 20%;
  }


  .profile h2, .garally h2, .contact h2 {
    font-size: 18px;


}
