* {
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color:rgba(194, 167, 149, 0.8);
  color: white;
  z-index: 10;
  box-shadow: 0px 1px 5px rgba(0,0,0, 0.5);
}

.header-logo {
  float: left;
  padding-left: 20px;
  line-height: 75px;
}

.fa.menu-icon {
  display: none;
}

.header-list ul {
  float: right;
  line-height: 75px;
}

.header-list li {
  float: left;
  margin-right: 30px;
}

.header-list a:hover {
  color: rgb(119, 91, 38);
  transition: all 1s;
}

.header-list a:active {
  position: relative;
  top: 3px;
}

.header-list a {
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
  border-bottom: dotted 1px rgb(119, 91, 38);
}


main{
  width: 100%;
  text-align: center;
}

.main-border {
  width: 20%;
  margin-bottom: 15px;
}

.main-visual {
  position: relative;
  margin-top: 75px;
  background-image: linear-gradient(-90deg, rgba(208, 104, 166, 0.3), rgba(219, 251, 89, 0.3)),url("image/mainVisual.jpg");
  background-size: cover;
  background-position: center top;
  height: 700px;
}



.main-visual p {
  position:absolute;
  bottom: 70px;
  left: 50px;
  font-family: 'Batang';
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(45, 29, 23, 0.7);
}
/* .main-visual-img {
  width: 100%;
} */

.main-visual-logo {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 5%;
}

.main-visual-frame1 {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 20%;
  filter: drop-shadow(2px 2px 2px rgba(45, 29, 23, 0.7));
}

.main-visual-frame2 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: 20%;
  filter: drop-shadow(2px 2px 2px rgba(45, 29, 23, 0.7));
}


.main-contents {
  max-width: 1000px;
  padding: 30px 30px;
  margin: 0 auto;
}


.main-contents h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  padding-bottom: 5px;
  text-align: center;
  /* margin: 20px 0px; */
  color: rgb(92, 92, 92);
  margin-top: -100px;
  padding-top: 100px;
}

/* .main-contents h2:before{
    display:inline-block;
    content:"\f030";
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    font-size: 0.8em;
    margin-right: 10px;
}

.main-contents h2:after {

} */

.contents {
  padding-bottom: 30px;
  text-align: center;
}

.profile, .garally, .contact{
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

.prf_wrapper {
  height: 700px;
  /* background: linear-gradient( 0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)),
url(image/prf_back.jpg); */
  background-size: cover;
  background-position: center bottom;

}

.prf_wrapper img{
  border-radius: 200px;
  width: 30%;
  margin: 30px 0 30px 0;
  filter:drop-shadow(5px 5px 5px rgba(45, 29, 23, 0.3));
}

.slider {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(4px 4px 5px rgba(45, 29, 23, 0.5));
}

.thumb {
  width: 30%;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(92, 121, 138);
}

form {
  width: 500px;
  display: inline-block;
  text-align: left;
}

.form-control {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border: solid 1px rgb(164, 164, 164);
}


.submit-btn {
  padding: 10px 30px;
  background-color: rgb(58, 73, 98);
  color: white;
  width: 150px;
  border: none;
}

.contact p {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}

::-webkit-input-placeholder {
  color: #cbb993;
}

/* Firefox */
::-moz-placeholder {
  color: #cbb993;
}


footer {
  width: 100%;
}

.footer-list {
  height: 30px;
  background-color: rgb(194, 167, 149);
}

.footer-list ul {
  text-align: center;
  padding-top: 10px;
}

.footer-list li {
  padding-right: 30px;
  display: inline;
  color: white;
}

.footer-list li: {
  background-color: rgb(112, 87, 73);
}

.copyright {
  height: 30px;
  background-color: rgb(194, 167, 149);
  padding: 10px;
  color: white;
  text-align: center;
  line-height: 30px;
}
